.cursor-server
.viminfo
.windsurf-server
*.swp

.eggs
*.egg-info
build
dist
*.pyc
.vscode
.mypy_cache
.hypothesis
obj
docs/extensions
.ipynb_checkpoints
# nix artifacts
result
.direnv
.envrc
.venv
docs/pyproject.toml
docs/poetry.lock
.jupyter_cache/
jupyter_execute/
.vscode-server
.lightning_studio
.wget-hsts
.idea
test.ipynb
