name: Build and test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - 'wheel/**'
      - 'runci/**'
  release:
    types:
      - created
      - edited
  schedule:
    # 04:00 every Tuesday morning
    - cron: '0 4 * * 2'

jobs:
  build-and-test:
    name: Build, Test, Mypy (Python ${{ matrix.python-version }})
    strategy:
      fail-fast: false # Allows other jobs to continue if one version fails
      matrix:
        python-version: ['3.10', '3.11', '3.12']
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for versioning
          submodules: true

      - name: Set up Conda Environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          channel-priority: strict
          environment-file: environment-test.yml

      - name: Build, Test, and run Mypy
        shell: bash -l {0}
        run: |
          chmod +x ./.github/workflows/build-test
          # Always run the 'mypy' check on the latest Python version
          if [[ "${{ matrix.python-version }}" == "3.12" ]]; then
            ./.github/workflows/build-test mypy
          else
            ./.github/workflows/build-test nomypy
          fi
    
      - name: Upload wheel artifact
        # Only upload artifacts from one job to avoid duplication
        if: matrix.python-version == '3.12' && (github.event_name == 'release' || contains(github.ref, 'refs/heads/wheel'))
        uses: actions/upload-artifact@v4
        with:
          name: python-wheel
          path: dist/*.whl

  publish_to_pypi:
    name: Publish to pypi
    if: github.event_name == 'release'
    needs: custatevec-checks
    runs-on: ubuntu-latest
    steps:
    - name: Download all wheels
      # downloading all three files into the wheelhouse
      # all files are identical, so there will only be one file
      uses: actions/download-artifact@v5
      with:
        path: wheelhouse
        pattern: artefact-*
        merge-multiple: true
    - name: Put them all in the dist folder
      run: |
        mkdir dist
        for w in `find wheelhouse/ -type f -name "*.whl"` ; do cp $w dist/ ; done
    - name: Publish wheels
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_PYTKET_CUSTATEVEC_API_TOKEN }}
        verbose: true
