name: Lint python projects

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - 'wheel/**'
      - 'runci/**'

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python 3.x
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Update pip
      run: pip install --upgrade pip

    - name: Set up ruff
      uses: astral-sh/ruff-action@v3

    - name: Install black and pylint
      run: pip install ruff mypy

    - name: Check formatting using ruff
      run: ruff format --check

    - name: Lint using ruff
      run: ruff check

    - name: Check static typing with mypy
      run: mypy . --explicit-package-bases --ignore-missing-imports
